<footer class="bg-gray-900 text-white border-t border-gray-800 pb-24 md:pb-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-12">
        <div
            class="flex flex-col md:flex-row justify-between items-center gap-6 text-center md:text-left"
        >
            <!-- Logo & Description -->
            <div class="flex flex-col md:flex-row items-center gap-6">
                <img
                    src="/5.svg"
                    alt="ProfeLink Logo"
                    class="h-30 w-auto object-contain"
                />
                <p class="text-gray-400 text-sm max-w-sm">
                    Conecta, Enseña y Crece sin límites
                </p>
            </div>

            <!-- Socials -->
            <div class="flex space-x-6">
                <span>Tandil Solution</span>
                <a
                    href="https://www.instagram.com/profelink_/?hl=es-la"
                    class="text-gray-400 hover:text-white transition"
                    target="_blank"
                    aria-label="Instagram"
                    ><i class="fa-brands fa-instagram fa-xl"></i></a
                >
                <a
                    href="https://www.linkedin.com/in/tandilsolution/"
                    class="text-gray-400 hover:text-white transition"
                    target="_blank"
                    aria-label="LinkedIn"
                    ><i class="fa-brands fa-linkedin fa-xl"></i></a
                >
                <a
                    href="https://www.tandilsolution.com.ar"
                    class="text-gray-400 hover:text-white transition"
                    target="_blank"
                    aria-label="Website"
                >
                    <i class="fa-solid fa-globe fa-xl"></i>
                </a>
            </div>
            <!-- Socials -->
            <div class="flex space-x-6">
                <span>ProfeLink</span>
                <a
                    href="https://www.instagram.com/profelink_/?hl=es-la"
                    class="text-gray-400 hover:text-white transition"
                    target="_blank"
                    aria-label="Instagram"
                    ><i class="fa-brands fa-instagram fa-xl"></i></a
                >
                <a
                    href="https://www.linkedin.com/showcase/profelink/"
                    class="text-gray-400 hover:text-white transition"
                    target="_blank"
                    aria-label="LinkedIn"
                    ><i class="fa-brands fa-linkedin fa-xl"></i></a
                >
                <a
                    href="https://www.facebook.com/profile.php?id=61580826995690"
                    class="text-gray-400 hover:text-white transition"
                    target="_blank"
                    aria-label="Facebook"
                    ><i class="fa-brands fa-facebook fa-xl"></i></a
                >
            </div>
        </div>

        <!-- Copyright & Powered By -->
        <div
            class="mt-12 border-t border-gray-800 pt-8 flex flex-col md:flex-row justify-between items-center gap-4"
        >
            <p class="text-sm text-gray-500">
                &copy; 2026 ProfeLink. Todos los derechos reservados.
            </p>
            <div class="flex items-center gap-2 text-sm text-gray-500">
                <span>Powered by</span>
                <a
                    href="https://tandilsolution.app"
                    target="_blank"
                    class="text-gray-300 font-semibold cursor-pointer flex items-center gap-1 hover:text-brand-blue transition"
                >
                    <i class="fa-solid fa-bolt text-brand-blue text-xs"></i> Tandil
                    Solution
                </a>
            </div>
        </div>
    </div>
</footer>
